#container{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 240%;
	overflow: hidden;
}
.dark, .dark * {
	--background-colorfill: #222;
	color: #e6e6e6;
	background-color: var(--background-colorfill);
	border-color: #111;
}

.light, .light * {
	--background-colorfill: #FFFAFA;
	background-color: var(--background-colorfill);
	color: #282828;
	border-color: 272727;
}
#container *{
	font-family: sans-serif;
}

#top_title{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	max-height: 10%;
	text-align: center;
	font-family: inherit;
	font-size: 40px;
}
#title{
	margin-bottom: 25px;
}
#title b{
	font-size: 50px;
	background: rgb(71,133,255);
	background: -webkit-linear-gradient(36deg, rgba(71,133,255,1) 0%, rgba(80,137,242,1) 45%,
	 rgba(80,137,242,1) 52%, rgba(242,210,0,1) 54%, rgba(242,210,0,1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#description{
	font-size: 18px;
	font-weight: bold;
	visibility: hidden;
	font-family: 'Cutive Mono', monospace;
}

#description span {
	font-family: 'Cutive Mono', monospace;
	opacity: 0;
	position: relative;
	display: inline-block;
}

.showText{
	visibility: visible;
	animation: showText 370ms ease-out 100ms 1 normal both;
}

@keyframes showText{
	from {
		transform: translate3d(0px, -30px, 0px);
		opacity: 0;
	}
	to {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

#example_image{
	--whiteTopPos: 0%;
	position: absolute;
	top: 12%;
	left: 0;
	height: 55%;
	width: 100%;
	background-color: inherit;
}
.pathseptop{
	fill: var(--background-colorfill);
}
.pathsepbottom{
	fill: rgb(0, 130, 255);
}
.gline_sep{
	position: absolute;
	left: 0;
	z-index: 1;
}
#top_sep{
	background-color: rgb(0, 130, 255);
	top: var(--whiteTopPos);
}
#bottom_sep{
	background-color: inherit;
	top: 80%;
}
.bluebg{
	position: absolute;
	top: calc(var(--whiteTopPos));
	width: 100%;
	height: calc(100% - var(--whiteTopPos) - 20%);
	background-color: rgb(0, 130, 255);
	z-index: 0;
}

#bluebg_content{
	width: calc(95% - 1px);
	height: 90%;
	position: absolute;
	left: 5%;
	top: 10%;
	background-color: transparent;
	border-left: 1px dashed grey;
}
#example_svg{
	position: absolute;
	left: calc(20% + 5px);
	width: calc(80% - 5px);
	height: 100%;
	background-color: transparent;
	display: flex;
  	align-items: center;
}
#example_svg svg{
	background-color: transparent;
}

#properties{
	width: auto;
	max-width: 20%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: transparent;
	
}

#bluebg_content li{
	background-color: transparent;
	padding-top: 15px;
	font-size: 25px;
	letter-spacing: 1px;
}

#bluebg_content ul{
	background-color: transparent;
	padding-top: 10px;
}

#main_menu{
	position: absolute;
	left: 0px;
	bottom: 20px;
	width: 100%;
	height: 30%;
}
.dark #main_menu > div > span{
	background-color: rgba(255,255,255, 0.1);
	border-color: #00ABFF;
}
.light #main_menu > div > span{
	background-color: rgba(0,0,0, 0.1);
	border-color: #00ABFF;
}
#main_menu > div > span:hover{
	transform: scale(1.03);
}

.dark .darkbright_hover:hover{
	background-color: rgba(255,255,255, 0.15) !important;
}

.light .darkbright_hover:hover{
	background-color: rgba(0,0,0, 0.18) !important;
}


.type{
	user-select: none;
	text-align: center;
	color: inherit;
	background-color: transparent;
	width: 100%;
	height: 40px;
	font-family: inherit;
	letter-spacing: 1px;
	font-size: 30px;
	position: absolute;
	top: 2px;
	left: 0;
}

.thememain{
	justify-content: center;
	align-items: center;
}
.thememain label{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 20px;
	background-color: transparent;
}
.thememain span.theme_set{
	position: absolute;
	top: 20px;
	font-size: 20px;
	background-color: transparent;
}
.thememain span.theme_set:first-child{
	left: 5px;
}
.thememain span.theme_set:last-child{
	left: calc(100% - 5px);
	transform: translateX(calc( -100% - 5px));
	
}

.centerX{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.centerY{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.center{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.goto{
	border-radius: 10px;
	border: 1px solid;
	width: 35%;
	height: 15%;
	top: 10%;
}

.content_icon{
	top: 65%;
	height: 50%;
	width: 100%;

}

.content{
	position: absolute;
	left: 0;
	top: 42px;
	height: calc(100% - 42px);
	width: 100%;
	background-color: transparent;
}

.content *{
	background-color: transparent;
}

#main_menu > div{
	position: absolute;
	left: 0;
	width: 100%;

	display: grid;
	grid-gap: 25px;
	align-items: center;
	justify-content: center;

}
#main_menu span > div{
	position: relative;
	bottom: 0px;
	width: 35vh;
	height: 35vh;
	background-color: transparent;
}
#main_menu > div > span{
	border-radius: 10px;
	border: 2px solid;
	width: 35vh;
	height: 35vh;
	justify-content: center;
	align-items: center;
}
#main_menu #top_options{
	top: 0;
	height: calc(50% - 10px);
	grid-template-columns: repeat(2, 35vh);
	
}
#main_menu #bottom_options{
	top: calc(50% + 10px);
	height: calc(50% - 10px);
	grid-template-columns: repeat(3, 35vh);
}

#projects_container{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0, 0.5);
	z-index: 0;
	visibility: hidden;
}
#projects_container.active{
	z-index: 5;
	visibility: visible;
}

#projects{
	background-color: var(--background-colorfill);
	width: 90%;
	height: 90%;
	border-radius: 10px;
}

#projects_display{
	position: absolute;
	left: 2vh;
	top: calc(7% + 2px + 2vh);
	width: calc(100% - 4vh);
	height: calc(93% - 2px - 4vh);

	display: grid;
	grid-template-columns: repeat(auto-fit, 30vh);
	grid-template-rows: repeat(auto-fit, 25vh);
	grid-gap: 2vh;
}

.project{
	border: 2px solid rgb(10, 150, 255);
	border-radius: 10px;
	display: grid;
	justify-content: center;
	align-items: center;
}
.dark .project{ background-color: rgba(255,255,255, 0.1); }
.light .project{ background-color: rgba(0,0,0, 0.1); }

.project *{
	background-color: transparent;
}

.project span:first-child{
	font-size: larger;
}
.project span:nth-child(2){
	font-size: small;
	font-style: italic;
}

.project button{
	border-radius: 20px;
	height: 69%;
	width: 100%;
	border: 1px solid black;
	color: white;
}
.project button:first-of-type{
	background-color: rgba(0, 255, 0, 0.8);
}
.project button:first-of-type:hover{
	background-color: rgba(0, 255, 0, 1);
}
.project button:last-of-type{
	background-color: rgba(255, 0, 0, 0.8);
}
.project button:last-of-type:hover{
	background-color: rgba(255, 0, 0, 1);
}
.project button:hover{
	transform: scale(1.05);
}


#title_projects{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 7%;
	background-color: transparent;
	border-bottom: 2px solid rgb(10, 150, 255);
}

#title_projects > span{
	color: inherit;
	font-family: Palatino, Verdana;
	font-size: 30px;
	letter-spacing: 1px;
	left: 2%;
}

#title_projects > button{
	color: inherit;
	border: 2px solid rgb(10, 150, 255);
	background-color: transparent;
	position: absolute;
	left: calc(100% - 10px);
	top: 50%;
	transform: translate(-100%, -50%);
	width: 250px;
	height: 65%;
	border-radius: 15px;
}
.dark #title_projects > button{
	background-color: white;
	color: black;
}
.light #title_projects > button{
	background-color: black;
	color: white;
}

#title_projects > button > span{
	background-color: transparent;
	font-size: 17px;
	color: inherit;
	font-family: Verdana, Geneva, Tahoma;
}
#title_projects > button > span:first-child{
	left: 7%;
}

/* w3schools round input box design */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
